parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
        - node_modules
        - bootstrap/cache
        - app/Types/Stubs/Route.phpstub
        - routes/auth.php
        - routes/platform.php
        - routes/web.php
    treatPhpDocTypesAsCertain: false
    tmpDir: ./storage/framework/cache/phpstan